@import "tailwindcss";

.react360-container > div {
    padding: 0 !important; 
}

.react360-container > div > img {
    object-fit: cover;
    width: 100vw !important;
    height: 100vh !important;
    cursor: default;
}

@theme {
    --animate-spin-slow: spin 1.5s linear infinite;
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}
